<table border="1">
    <thead>
        <tr>
            <th>Titre</th>
            <th>Description</th>
            <th>Creation</th>
            <th>Catégorie</th>
        </tr>
    </thead>
    <tbody>
    {% for article in articles %}
        <tr>
            <td>
                <a href="{{ path('show_article', {'id': article.id})}}">
                    {{article.titre}}
                </a>
            </td>
            <td>{{article.description}}</td>
            <td>{{article.creation|date('d/m/Y')}}</td>
            <td>{{article.categorie}}</td>
            <td><a href="{{ path('delete_article', {'id': article.id}) }}">Supprimer</a></td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">Il n'y a aucun article</td>
        </tr>
    {% endfor %}
    </tbody>
</table>