{% extends 'base.html.twig' %}

{% block body %}
<h1>{{article.titre}}</h1>
<p>{{article.description}}</p>
<p>{{article.creation|date('d/m/Y')}}</p>
<p>{{article.categorie}}</p>

<h2>Modifier l'article</h2>
{{form(maj)}}
{% endblock %}